#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: #F88C52;
  text-align: center;
  font-weight: bold;
}

#overlay > div > p {
  color: black;
  font-size: 40px;
}

#overlay > div > button {
  width: 200px;
  height: 32px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

#overlay > div > button:hover {
  background-color: black;
  box-shadow: 0px 2px 15px black;
  color: #fff;
  /* transform: translateY(-1px); */
}

#info {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 10px;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 24px;
  color: black;
  align-items: center;
}

#info a {
  color: white;
  text-decoration: none;
}

#info > a:hover {
  color: white;
  text-decoration: line-through;
}

#overlayAbout {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  background-color: black;
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
}

#aboutInfo {
  /* position: absolute;
  z-index: 2;
  width: 100%; */
  padding: 10px;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

#exitOverlayAbout {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.dropdown-menu {
  background: transparent;
}

.scroll-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.dropdown-item {
  color: white;
  text-decoration: none!important;
}
